/* using google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* custom css styles start */
* {
    padding: 0;
    margin: 0;
    font-family: Work Sans;
}

:root {
    --pink_color: #FF42A5;
    --youtube_color: #F61C0D;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header styles start */
.header_area {
    display: flex;
    padding: 30px 240px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    justify-content: space-between;
    align-items: center;
}

.logo_area {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo_area img {
    width: 85px;
    height: 40px;
}

.logo_area h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.logo_area h2 .pink_color{
    color: var(--pink_color);
}

.ul_area {
    display: flex;
    align-items: center;
}

.ul_area li {
    margin-right: 35px;
}

.ul_area li a, .same_style {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.sub_li_area {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 5px 15px;
}

.nav_area .ul_area li:nth-child(3) {
    margin-right: 0px;
}

.tiktok_color {
    font-size: 25px;
}

.youtube_color {
    color: var(--youtube_color);
    font-size: 30px;
}

/* play area styles start */
.play_area {
    /* padding: 0px 240px; */
    display: flex;
    justify-content: space-between;
    height: 500px;
    align-items: center;
}

.bg_setup {
    background-image: url(../images/Group\ 14.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.play_content {
    padding-left: 240px;
    align-items: center;
}

.play_image_area {
    width: 50%;
    padding-right: 240px;
}

.play_image_area img {
    width: 100%;
}

.play_title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.play_short_words {
    font-size: 95px;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play_info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

.play_info span {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}

.play_info span i {
    color: #FF42A5;
    font-size: 15px;
}













@media screen and (max-width: 576px) {
    .header_area, .nav_area, .ul_area, .play_area {
        flex-direction: column;
    }

    .header_area {
        padding: 30px 15px;
    }

    .ul_area {
        gap: 30px;
        margin-top: 30px;
    }

    .ul_area li {
        margin-right: 0px;
    }



    .play_area {
        padding: 60px 15px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .play_content {
        padding-left: 20px;
        align-items: center;
        margin: 0px auto;
    }

    .play_title {
        font-size: 28px;
    }

    .play_short_words {
        font-size: 55px;
    }

    .play_info span {
        font-size: 12px;
        margin-top: 5px;
    }

    .play_info span i {
        font-size: 11px;
        margin-right: 3px;
    }

    .play_image_area {
        width: 100%;
        padding-right: 10px;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 576.01px) and (max-width: 992px) {

    .header_area {
        padding: 30px 40px;
    }

    .logo_area img {
        width: 50px;
        height: 35px;
    }

    .logo_area h2 {
        font-size: 38px;
    }

    .ul_area {
        gap: 30px;
        margin-top: 0px;
    }

    .ul_area li {
        margin-right: 0px;
    }

    .ul_area li a, .same_style {
        font-size: 15px;
    }

    .youtube_color {
        color: var(--youtube_color);
        font-size: 25px;
    }

    .tiktok_color {
        font-size: 20px;
    }



    .play_area {
        padding: 0px 40px;
        justify-content: space-between;
    }
    
    .play_area {
        flex-direction: column-reverse;
        height: auto !important;
        align-items: center;
    }

    .bg_setup {
        height: auto;
    }

    .play_content {
        padding: 100px;
        margin: 0px auto;
    }

    .play_image_area {
        padding-right: 20px;
        width: 100%;
    }

    .play_image_area img {
        width: 100%;
    }
    
    .play_image_area {
        padding-right: 20px;
        width: 100%;
        margin: 0px auto;
    }
}