/* using google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* custom css styles start */
* {
    padding: 0;
    margin: 0;
    font-family: Work Sans;
}

:root {
    --pink_color: #FF42A5;
    --youtube_color: #F61C0D;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* header styles start */
.header_area {
    display: flex;
    padding: 30px 240px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    justify-content: space-between;
    align-items: center;
}

.logo_area {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo_area img {
    width: 85px;
    height: 40px;
}

.logo_area h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.logo_area h2 .pink_color{
    color: var(--pink_color);
}

.ul_area {
    display: flex;
    align-items: center;
}

.ul_area li {
    margin-right: 35px;
}

.ul_area li a, .same_style {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    transition: .3s;
}

.ul_area li:hover > a {
    color: red;
}

.ul_area li.sub_li_area span.same_style:hover > a {
    color: red;
}

.sub_li_area {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 5px 15px;
}

.nav_area .ul_area li:nth-child(3) {
    margin-right: 0px;
}

.tiktok_color {
    font-size: 25px;
}

.youtube_color {
    color: var(--youtube_color);
    font-size: 30px;
}

/* play area styles start */
.play_area {
    display: flex;
    justify-content: space-between;
    height: 500px;
    align-items: center;
    overflow: hidden;
}

.bg_setup {
    background-image: url(../images/Group\ 14.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.play_content {
    padding-left: 240px;
    align-items: center;
}

.play_image_area {
    width: 50%;
    padding-right: 240px;
}

.play_image_area img {
    width: 535px;
    float: right;
}

.play_title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.play_short_words {
    font-size: 95px;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play_info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

.play_info span {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}

.play_info span i {
    color: #FF42A5;
    font-size: 15px;
}

/* btn styles */
.btn_area {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.btn {
    padding: 21px 40px;
    align-items: center;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
}

.btn2 {
    background: #4EC5F7;
    cursor: pointer;
    transition: .5s;
}

.btn2:hover {
    color: #fff;
    background: #000;
}

/* online game area styles start */
.online_game {
    padding: 80px 240px;
}

.game_title_info {
    text-align: center;
    margin-bottom: 30px;
}

.game_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: space-between;
}


.game_img {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
}


.img_intro {
    position: absolute;
    top: 0px;
    left: -0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 16px;
    background: #000;
    opacity: .8;
    visibility: hidden;
    transition: .3s ease-in-out;
}

a.intro_play {
    font-size: 50px;
    color: red;
    line-height: 0px;
}

h4.intro_title {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 7px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.game_img img {
    width: 100%;
    transition: .3s ease-in-out;
}

.game_img:hover img {
    transform: scale(1.1);
}

.game_img:hover .img_intro {
    visibility: visible;
}

.game_title_info h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game_title_info p {
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.game_description p {
    color: #534C64;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 5px;
}

/* play online game area start */
.play_instantly {
    display: flex;
    flex-direction: row-reverse;
}

.play_instantly img {
    width: 100%;
}

.play_game_area  {
    padding: 0px 240px 40px 240px;
    display: flex;
    align-items: center;
    gap: 150px;
    height: auto;
    overflow: hidden;
}

.play_game_img img {
    width: 100%;
}

.play_game_img img.cat_img {
    width: 40%;
    position: relative;
    margin-top: -160px;
    margin-left: 80%;
}

.play_instantly img.cat_img {
    width: 40%;
    position: relative;
    margin-top: -160px;
    margin-left: -20%;
}

.play_game_online_content h2 {
    width: 426px;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.play_instantly .play_game_online_content h2 {
    width: 100%;
}

.play_game_online_content p {
    width: 483px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

.play_instantly .play_game_online_content {
    text-align: end;
}

/* game company or game kind area start */
.game_type_area {
    padding: 80px 240px 50px 240px;
}

.game_types {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 30px;
    justify-content: center;
}

.game_type_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 40px;
    transition: .4s;
}

.game_type_box:hover {
    padding: 5px 10px;
    border: 1px solid #FF42A5;
    border-radius: 40px;
}


.game_type_box img {
    width: 40px;
    height: 40px;
}

.game_type_box p {
    font-size: 11px;
    transition: .4s;
}

.game_type_box:hover p {
    color: #ff42a5;
}

/* footer area start */
.footer_area {
    padding: 50px;
    background: #0B0223;
    text-align: center;
    color: #fff;
}

.footer_logo {
    display: flex;
    gap: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.footer_logo img {
    width: 80px;
}

.footer_logo h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: normal;
    color: #fff;
}

.footer_logo h2 span {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav_item {
    display: flex;
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;
}

.nav_item li {
    margin: 0px 15px;
}

.nav_item li a {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    transition: .3s;
}

.nav_item li.footer_info:hover > a {
    color: rgba(255, 255, 255, 0.60);
}

.social_item {
    display: flex;
    margin-bottom: 30px;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.social_item a i {
    width: 40px;
    font-size: 25px;
}

.footer_condition {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.footer_condition span a {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    transition: .3s;
}

.footer_condition span:hover a {
    color: #fff;
}

.copyright_area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright_area p {
    color: rgba(255, 255, 255, 0.60);
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    margin-top: 20px;
}

/* we are gamer area styles start */
.we_are_gamer_area {
    padding: 40px 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    gap: 30px;
}

.we_are_gamer_img {
    width: 60%;
}

.we_are_gamer_img img {
    width: 100%;
}

.we_are_gamer_content {
    width: 40%;
    text-align: right;
}

.we_are_gamer_content h2 {
    font-size: 38px;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
}

.we_are_gamer_content .we_are_gamer_para {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
}

.we_are_gamer_content button {
    margin-bottom: 15px;
}

h3.changeable_heading {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    color: #534C64;
}

h3.changeable_heading span {
    font-size: 15px;
    color: #534C64;
}

/* career area styles start */
.careers_area {
    padding: 0px 0px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.career_control_class {
    padding: 0px 0px 0px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.career_content {
    width: 680px;
    height: 100%;
}

.career_content h2 {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}

.career_content p {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
}

.career_image_area img {
    width: 100%;
    float: right;
}

.careers_info {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.career_info_box_1 li {
    color: #FFF;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 10px;
}

.career_info_box_2 li {
    color: #FFF;
    font-size: 11px;
    font-weight: 600;
    text-align: right;
    margin-bottom: 10px;
}

















@media screen and (max-width: 576px) {
    .header_area, .nav_area, .ul_area, .play_area {
        flex-direction: column;
    }

    .header_area {
        padding: 30px 15px;
    }

    .ul_area {
        gap: 30px;
        margin-top: 30px;
    }

    .ul_area li {
        margin-right: 0px;
    }

    

    .play_area {
        padding: 0px 0px;
        flex-direction: column-reverse;
        justify-content: center;
        height: 750px;
        overflow: hidden;
    }

    .play_image_area img {
        width: 100%;
        margin-top: 100px !important;
    }

    .bg_setup {
        padding: 50px 0px;
        margin-bottom: 50px;
    }

    .play_content {
        padding-left: 0px;
        margin: 0px auto;
    }

    .play_title {
        font-size: 28px;
    }

    .play_short_words {
        font-size: 55px;
    }

    .play_info span {
        font-size: 12px;
        margin-top: 5px;
    }

    .play_info span i {
        font-size: 11px;
        margin-right: 3px;
    }

    .play_image_area {
        width: 100%;
        padding-right: 10px;
    }

    .btn_area {
        display: flex;
        gap: 10px;
    }

    .btn {
        padding: 10px 25px;
        font-size: 12px;
    }


    .online_game {
        padding: 20px 15px;
    }

    .game_title_info h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .game_container {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .game_title_info h2 {
        font-size: 34px;
        width: 100%;
        margin: 0px auto;
        margin-bottom: 10px;
        line-height: 50px;
    }

    .game_title_info p {
        color: #534C64;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        width: 100%;
        margin: 0px auto;
    }

    .game_img img {
        width: 100%;
    }


    .play_game_area {
        padding: 40px 15px;
        flex-direction: column;
        gap: 50px;
    }

    .play_game_img {
        width: 100%;
    }

    .play_game_online_content {
        width: 100%;
    }

    .play_game_img img {
        width: 70%;
    }

    .play_game_img img.cat_img {
        width: 160px;
        margin-top: -110px;
        margin-left: 170px;
    }

    .play_instantly img.cat_img {
        width: 160px;
        margin-top: -110px;
        margin-left: 20px;
    }

    .play_instantly img.main_img {
        float: right;
    }

    .play_game_online_content h2 {
        width: 100%;
        font-size: 35px;
        line-height: 40px;
    }

    .play_game_online_content p {
        width: 100%;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        margin-top: 15px;
    }


    .game_type_area {
        padding: 50px 15px;
    }

    .game_types {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: flex-start;
    }

    .footer_areas {
        padding: 0px 0px;
    }

    .footer_area {
        padding: 50px 0px;
    }

    .nav_item {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .nav_item li {
        margin: 0px 0px;
    }

    .nav_item li a {
        font-size: 13px;
    }

    .social_item a i {
        width: 40px;
        font-size: 30px;
    }

    .footer_condition {
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(2, 1fr);
        margin: 0px 25px;
    }

    .copyright_area p {
        font-size: 12px;
    }

    .footer_condition span a {
        font-size: 13px;
    }



    .we_are_gamer_area {
        padding: 40px 15px;
        flex-direction: column;
    }

    .we_are_gamer_img {
        width: 100%;
    }

    .we_are_gamer_content {
        width: 100%;
        text-align: center;
    }

    h3.changeable_heading {
        font-size: 20px;
        line-height: 25px;
    }


    .career_control_class {
        padding: 30px 15px;
        flex-direction: column;
    }

    .career_content {
        width: 100%;
        height: 100%;
    }

    .career_content h2 {
        font-size: 45px;
        margin-bottom: 15px;
    }

    .career_content p {
        font-size: 12px;
        margin-bottom: 25px;
    }

    .career_info_box_1 li {
        font-size: 10px;
    }

    .career_info_box_2 li {
        font-size: 10px;
    }

    .career_image_area img {
        width: 100%;
        float: right;
        margin-top: 30px;
    }

    .game_type_box img {
        width: 30px;
        height: 30px;
    }

    .game_type_box p {
        font-size: 10px;
    }

    .game_types {
        gap: 10px;
    }

    .game_type_box {
        gap: 10px;
    }

    .game_type_area {
        padding: 60px 15px 50px 15px;
    }

}

@media screen and (min-width: 576.01px) and (max-width: 992px) {

    .header_area {
        padding: 30px 40px;
    }

    .logo_area img {
        width: 50px;
        height: 35px;
    }

    .logo_area h2 {
        font-size: 38px;
    }

    .ul_area {
        gap: 30px;
        margin-top: 0px;
    }

    .ul_area li {
        margin-right: 0px;
    }

    .ul_area li a {
        font-size: 15px;
    }

    .same_style {
        font-size: 15px;
    }

    .youtube_color {
        color: var(--youtube_color);
        font-size: 25px;
    }

    .tiktok_color {
        font-size: 20px;
    }



    
    .play_area {
        padding: 0px 0px;
        justify-content: space-between;
        flex-direction: column-reverse;
        height: auto !important;
        align-items: center;
        overflow: hidden;
    }

    .bg_setup {
        height: auto;
    }

    .play_content {
        padding: 50px 10px;
        margin: 0px auto;
    }

    .play_image_area {
        padding-right: 20px;
        width: 100%;
    }

    .play_image_area img {
        width: 100%;
    }
    
    .play_image_area {
        padding-right: 20px;
        width: 100%;
        margin: 0px auto;
    }

    .btn {
        padding: 18px 40px;
        font-size: 13px;
    }



    .online_game {
        padding: 40px 40px;
    }

    .game_container {
        grid-template-columns: repeat(2, 1fr);
    }


    .play_game_area {
        padding: 40px 40px 40px 40px;
        gap: 50px;
    }

    .play_game_online_content h2 {
        width: 100%;
        font-size: 38px;
        line-height: 50px;
    }

    .play_game_online_content p {
        width: 100%;
        font-size: 15px;
        line-height: 25px;
        margin-top: 15px;
    }

    .play_game_img img {
        width: 90%;
    }

    .play_game_img img.cat_img {
        width: 150px;
        margin-top: -120px;
        margin-left: 60%;
    }

    .play_instantly img.cat_img {
        width: 150px;
        margin-top: -110px;
        margin-left: -20px;
    }

    .play_instantly img.main_img {
        margin-left: 30px;
    }



    .game_type_area {
        padding: 80px 40px 50px 40px;
    }

    .game_types {
        display: grid;
        justify-content: flex-start;
        grid-template-columns: repeat(3, 1fr);
        justify-items: flex-start;
    }

    .footer_area {
        padding: 50px 40px;
    }

    .footer_logo img {
        width: 70px;
        height: 40px;
    }

    .footer_logo h2 {
        font-size: 42px;
    }

    .nav_item li a {
        font-size: 15px;
    }

    .footer_condition span a {
        font-size: 14px;
    }

    .copyright_area p {
        font-size: 14px;
    }

    .game_title_info h2 {
        font-size: 40px;
        margin-bottom: 5px;
    }


    .we_are_gamer_area {
        padding: 40px 40px;
    }

    .we_are_gamer_content h2 {
        font-size: 30px;
    }

    .we_are_gamer_content .we_are_gamer_para {
        font-size: 13px;
    }

    h3.changeable_heading {
        font-size: 17px;
        line-height: 20px;
    }

    h3.changeable_heading span {
        font-size: 12px;
    }


    .career_control_class {
        padding: 0px 0px 0px 40px;
    }
    
    .career_content {
        width: 100%;
    }

    .career_content h2 {
        font-size: 45px;
        margin-bottom: 10px;
    }

    .career_content p {
        font-size: 13px;
        margin-bottom: 20px;
    }

    .career_info_box_1 li {
        font-size: 10px;
    }

    .career_info_box_2 li {
        font-size: 10px;
    }
}